@media screen and (min-width: 400px){
    main{
       margin:50px auto;
       padding: 20px 10px;
       min-width:300px;
       p{
         font-size: 12px;
       }
       h1{
          font-size: 18px;
       }
    }
    .sorry{
      color: gray;
      font-size: 10px;
  }

 }
    
  h2{
     font-size: 16px;
     text-align: center;
  }
 
 
 @media screen and (min-width: 600px){
    main{
       padding: 0 10px;
       width: 85%;
       p{
         font-size: 14px;
       }
       h1{
          font-size: 20px;
       }
    }
  h2{
     font-size: 18px;
  }
  .inbox{
    h3{
       font-size:16px;
    }
    p{
      font-size:14px;
    }
 }
 }
 
 @media screen and (min-width: 700px){
    main{
       padding: 0 10px;
       p{
         font-size: 17px;
       }
       h1{
          font-size: 22px;
       }
    }
  
  h2{
     font-size: 20px;
  }
  video{
    width: 80%;
    border: 12px double #fffff0;
  }
 
  .inbox{
    h3{
       font-size:18px;
    }
    p{
      font-size:16px;
    }
  }
  .sorry{
   color: gray;
   font-size: 15px;
}
 }
 
 @media screen and (min-width: 800px){
    main{
       padding: 0 20px;
       p{
          font-size: 18px;
        }
        h1{
           font-size: 30px;
        }
    }
    .animes-section{
       display: flex;
       flex-direction: row;
    }
    .anime{
       width: 33%;
    }
    h2{
       font-size: 25px;
       margin-left: 15px;
    }
    .animeVideobox{
        top: 6%;
        left: 6%;
        width:84%;
       }
       .close-button{
          color: #cececc;
          font-size: 22px;
       }
    video{
       width: 78%;
       margin-top:3%;
       margin-left:3%;
       border: 14px double #ffffff;
    }
    
    
 .inbox{
    h3{
       margin-left: 3%;
    }
    p{
      padding: 0 3%;
    }
  }
   }
 
   
 @media screen and (min-width: 900px){
    .animeVideobox{
       top: 5%;
       left: 7%;
       width:80%;
      }
      .close-button{
         font-size: 27px;
      }
      video{
       width: 74%;}
   
 }
 
 @media screen and (min-width: 1000px){
    .animeVideobox{
       top: 7%;
       left: 12%;
       width:75%;
      }
      video{
       width: 72%;
    }
 
 }
 
 @media screen and (min-width: 1100px){
    .animeVideobox{
       top: 8%;
      }
      .animeVideobox{
       width:70%;
      }
      video{
       width: 63%;
    }
 
 }