.animeVideobox{
    display: none;
     position: fixed;
     top:10%;
     left: 5%;
     width: 85%;
     height: auto;
     color:#fffff0;
     background-image: url(../images/sakura.gif);
    background-color: #000000;
    border: 10px double #fffff0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }
   
   .show-animeVideobox{
     display: block;
   }
  
   
  .close-button{
   color: #fffff0;
   font-size: 20px;
   padding: 10px;
   float: right;
   padding-right: 3%;
   padding-top:2%;
   cursor: pointer;
  }
  
  video{
   width: 80%;
   margin-top:3%;
   margin-left:3%;
   // border: thin solid #949393;
   border: 10px double #fffff0;
  }
  
  .inbox{
   h3{
      font-size:15px;
      margin-left: 4%;
   }
   p{
     font-size:13px;
     padding: 0 4%;
   }
  }