.error-404{
    width: 90%;
    margin: 10px auto;
   p{
       margin: 20px auto;
       padding-top: 10px;
   }
}
.error-401{
    width: 90%;
    margin: 10px auto;
   p{
       margin: 20px auto;
       padding-top: 10px;
   }
}
.error-403{
    width: 90%;
    margin: 10px auto;
   p{
       margin: 20px auto;
       padding-top: 10px;
   }
}
.error-500{
    width: 90%;
    margin: 10px auto;
   p{
       margin: 20px auto;
       padding-top: 10px;
   }
}
.error-503{
    width: 90%;
    margin: 10px auto;
   p{
       margin: 20px auto;
       padding-top: 10px;
   }
}