$main-text-color:black;
$background-color:#fffffe;
$main-background-color:#ffffff;
$border-color:#000000;
$main-font:'Comic Neue', 'cursive','helvetica','sans-serif';
$main-font-size:15px;
$main_font_color:#000000;
